.seat-item {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #95a5a6;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    color: #ffffff;
    cursor: grab;
}

.seat-item.selection {
    cursor: pointer;
}

.seat-item.selected {
    background-color: #1668dc;
}

.seat-item.occupied {
    background-color: #49aa19;
    cursor: not-allowed;
}

.seat-item.editor {
    cursor: grab;
}

.full-container {
    inset: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ant-page-header-heading-extra {
    overflow-x: scroll;
}

.receipt {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin: 0 50px; */
    border-bottom: 1px dashed black;
}

@media (max-width: 768px) {

    /* Hide the image on mobile view */
    .responsive-image {
        display: none;
    }
}